* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root { 
    background: #e9fed2;
    display: flex;
    justify-content: center;
}
.App {
    width: 800px;
}
.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.delete__btn {
    background: transparent;
    color: teal;
    padding: 5px;
    border: 2px solid red;
    border-radius: 0.5rem;
}